@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: white !important;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-title {
  color: #C67C4E !important;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-content {
  color: #C67C4E !important;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: white !important;
}
